<h3>Tools <small>Tor</small></h3>
<button [routerLink]="['tools']"
type="submit" class="btn btn-outline-danger">
Atras
</button>
<button   (click)="agregarnuevo(forma)"
type="button" class="btn btn-outline-success">Nuevo</button>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-12">

    <form (ngSubmit)="guardar()" #forma="ngForm">
      <div class="form-group">
<label>Nombre</label>
<input [(ngModel)]="tools.nombre"
      name="nombre"
      type="text"
      class="form-control"
      placeholder="Nombre del software" required
  >
      </div>
      <div class="form-group">
        <label>Bio</label>
        <textarea [(ngModel)]="tools.bio"
               name="bio"
               type="text"
               class="form-control"
        >
      </textarea>
      </div>
      <div class="form-group">
       <button [disabled]="!forma.valid"
       type="submit" class="btn btn-outline-primary">
         Guardar cambio
       </button>
      </div>

    </form>

  </div>

</div>
